{% extends "base.html" %}

{% block content %}

<div class="login-wrapper">
    {% if form.errors %}
      <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <span>{{ form.username.label_tag }}</span>
        <span class="textbox">{{ form.username }}</span>
        <br>
        <br>
        <span>{{ form.password.label_tag }}</span>
        <span class="textbox">{{ form.password }}</span>
        <br>
        <br>

        <input class="submit_button" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}
